name: Renovate post update

on:
  push:
    paths:
      - Gemfile
      - Gemfile.lock
    branches:
      - "renovate/*"

jobs:
  update-lockfiles:
    name: Update lockfiles
    runs-on: ubuntu-24.04
    if: github.actor == 'renovate[bot]'
    permissions:
      contents: write
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: pangea-ruby
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix flake update
      - run: nix develop -c bundle-lock
      - run: nix develop -c bundix

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          author_name: "renovate[bot]"
          author_email: "29139614+renovate[bot]@users.noreply.github.com"
          message: "chore(deps): update lockfiles"
